ANTHROPIC_API_KEY=ANTHROPIC_API_KEY=sk-ant-api03-A...
TAVILY_API_KEY=tvly-dev-1ab2c3-A...
MODEL=anthropic:claude-sonnet-4-6

LANGCHAIN_TRACING=true
LANGCHAIN_API_KEY=<your-key-here>
LANGCHAIN_PROJECT=deep-agents-quick
LANGSMITH_ENDPOINT=<optional-if-self-hosting>